*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  padding: 40px;
  text-align: center;
  background: #174e69;
  color: #9ecbdd;
}

nav {
  padding: 20px;
  text-align: center;
  background: #9ecbdd;
  color: #1d648c;
  display: block;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  border: solid;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  border-style: none;
  padding: 20px;
}

section {
  flex: 2;
  background-color: #fff;
  padding: 20px;
}

.profilepic {
  width: 33%;
}

img {
  width: 100%;
}
.photo {
  padding: 20px 10px;
  border: 2px solid #bfbfbf;
  background-color: #fff;
}

footer {
  padding: 20px;
  text-align: center;
  background: #174e69;
  color: #9ecbdd;
}

footer a {
  color: #9ecbdd;
  padding: 14px 20px;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }}