header {
  text-align: center;
  border: solid;
}

nav {
  text-align: center;
  border: solid;
}

section {
  text-align: center;
  border: solid;
}

footer {
  text-align: center;
  border: solid;
}