*{
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #0f3345;
  color: #fff;
}

nav {
  padding: 20px;
  text-align: center;
  background: #2b9cc8;
  color: #1d648c;
  display: block;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  border: solid;
}
*/

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}